*{
    box-sizing:border-box;
}

body{
    background-color: #ff7200;
}

.nav2{
    list-style-type:none;
}

.nav-menu
{
display:flex;
position: absolute;
width: 1280px;
height: 99px;
left: 0px;
top: -2px;
background-color:azure;
text-align:center;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.nav-content{
display:inline;
padding:60px;
float:right;
}

.content-1{
position: absolute;
width: 425px;
height: 75px;
left: 120px;
top: 150.67px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 75px;
color: #021718;
}

.content-2{
position: absolute;
width: 418px;
height: 84px;
left: 120px;
top: 250px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 42px;
}

.contact-me{
    background-color: green;
    padding:10px 15px 10px 15px;
    border-radius: 8px;
    position: absolute;
    text-align:center;
    width:auto;
    height: auto;
    left: 120px;
    top: 370.67px;
}

.insta{
position: absolute;
width: 55px;
height: 55px;
left: 120px;
top: 500px;
}

.dribble{
position: absolute;
width: 55px;
height: 55px;
left: 250px;
top: 500px;
}

.behance{
position: absolute;
width: 55px;
height: 55px;
left: 350px;
top: 500px;
}

.girl{
position: absolute;
width: 400px;
height: 400px;
left: 716px;
top: 179.67px;

filter: drop-shadow(0px 24px 48px rgba(0, 0, 0, 0.5));
}
/* .bg{
    position: absolute;
width: 500px;
height: 500px;
left: 793.33px;
top: 224.62px;

background: #44A1A0;
transform: rotate(-5.47deg);
} */
